/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Courier New";
    margin: 2em;
}

img {
    max-width: 100%;
}

.logo {
    display: inline-block;
    margin-bottom: 2.5em;
}

.logo h1 {
    font-size: 3em;
    margin-left: 3em;
}


/**********************************************
CONTACT CARD
**********************************************/


/*mobile*/

.mobile-contact {
    display: none;
}

#contact-btn {
    opacity: 1;
    font-size: 2em;
    font-weight: lighter;
    top: 8vh;
    right: 5vw;
    position: fixed;
}

#contact-btn:hover {
    opacity: 1;
    cursor: pointer;
    transform: rotate(270deg);
}

label {
    cursor: pointer;
}

#contact-info {
    display: none;
    /* hide the checkbox */
}

#menu {
    display: none;
    position: fixed;
    top: 17vh;
    right: 3vw;
    height: 15vh;
    width: 25vw;
    border-radius: 1em;
    text-align: justify;
    z-index: 2;
}

.artist-statement {
    /*background-color: white;*/
}

#menu a {
    color: #000;
}

#menu a:visited {
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
    color: #000;
}

#menu a:focus {
    text-decoration: none;
    color: #000;
}

#menu li {
    list-style-type: none;
}

#contact-info:checked + #menu {
    display: block;
}


/**********************************************
BEGIN IMAGES
**********************************************/

.image {
    margin-bottom: 25vh;
}

.image:last-child {
    margin-bottom: 5vh;
}

.jappear {
    opacity: 0;
}

#table {
    position: relative;
    top: 49vh;
    left: 13vw;
}

.sidebysides {
    text-align: center;

}

.sideby {
    display: inline-block;
    max-height: 500px;

}

.sideby:first-child {
    margin-right: 4em;
}

#processes {
    height: 60vh;
    margin-bottom: 5vh;
}

#first-cairn {
    max-height: 45vh;
}

#front-page {
    margin: 15vh 0;
    opacity: 0;
}

#pink-plops {
    /*height:95vh;*/
    max-width: 100%;
    height: auto;
}

#third-cairn {
    height: 45vh;
}

#plops-cones {
    height: 60vh;
}

#dont-wanna {
    max-width: 100%;
    margin: 10vh 0;
    opacity: 0;
}

#bonny-corner {
    max-width: 100%;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 992px) {
    #table {
        position: static;
        bottom: 0;
    }
    .sideby:last-child {
        margin-top: 2em;
    }

}




@media only screen and (max-width: 320px) {
    .logo h1 {
        font-size: 2em;
        margin-left: 0;
    }
    .mobile-contact {
        display: initial;
        float: right;
    }
    #contact-btn {
        opacity: 1;
        font-size: 1.5em;
        font-weight: lighter;
        top: 8vh;
        right: 5vw;
        position: fixed;
        display: none;
    }
    #contact-btn:hover {
        opacity: 1;
        cursor: pointer;
        transform: rotate(270deg);
    }
    label {
        cursor: pointer;
    }
    #contact-info {
        display: none;
        /* hide the checkbox */
    }
    #menu {
        display: none;
        position: fixed;
        top: 17vh;
        right: 3vw;
        height: 15vh;
        width: 25vw;
        border-radius: 1em;
        text-align: justify;
        z-index: 2;
    }
    .artist-statement {
        /*background-color: white;*/
    }
    #menu a {
        color: #000;
    }
    #menu a:visited {
        text-decoration: none;
    }
    #menu a:hover {
        text-decoration: underline;
        color: #000;
    }
    #menu a:focus {
        text-decoration: none;
        color: #000;
    }
    #menu li {
        list-style-type: none;
    }
    #contact-info:checked + #menu {
        display: block;
    }
}

@media only screen and (max-width: 414px) {
    .logo h1 {
        font-size: 2em;
        margin-left: 0;
    }
    .mobile-contact {
        display: initial;
        float: right;
    }
    .jappear {
    opacity: 100;
}

    #contact-btn {
        opacity: 1;
        font-size: 1.5em;
        font-weight: lighter;
        top: 8vh;
        right: 5vw;
        position: fixed;
        display: none;
    }
    #contact-btn:hover {
        opacity: 1;
        cursor: pointer;
        transform: rotate(270deg);
    }
    label {
        cursor: pointer;
    }
    #contact-info {
        display: none;
        /* hide the checkbox */
    }
    #menu {
        display: none;
        position: fixed;
        top: 17vh;
        right: 3vw;
        height: 15vh;
        width: 25vw;
        border-radius: 1em;
        text-align: justify;
        z-index: 2;
    }
    .artist-statement {
        /*background-color: white;*/
    }
    #menu a {
        color: #000;
    }
    #menu a:visited {
        text-decoration: none;
    }
    #menu a:hover {
        text-decoration: underline;
        color: #000;
    }
    #menu a:focus {
        text-decoration: none;
        color: #000;
    }
    #menu li {
        list-style-type: none;
    }
    #contact-info:checked + #menu {
        display: block;
    }
    #plops-cones {
        width: 100%;
        height: auto;
    }
    #processes {
        height: auto;
        width: 100%;
        margin-bottom: 5vh;
    }
    #table {
       margin-top: 5vh;
    }
    .sideby:last-child {
    margin-top: 2em;
}
}


@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}